form(method="post" action="/login")
    table 
    
        tr
            td  Username 
            td 
                input(type="text" name="username" required)
        tr 
            td Password 
            td 
                input(type="password" name="password" required)
        tr 
            td
            td
                input(type="submit" value="Login")