extends layout

mixin message(opp, name)
    if(opp)
        h1.greeting Logged in as 
            span=name 
    else 
        h1.greeting Welcome to Remote-Voting-Blockchain website, 
            span=name 
            


append links 
    li(style="float: right;")
        a(href="/loggout") Logout 

block content
    .dashboard 
        .user 
            +message(opp, name)