extends layout
block content 
    .login-panel 
        img(src="img/login-img.png")
        include includes/login-form 
    .register-panel 
        img(src="img/register-img.png")
        include includes/register-form
